@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/******************************************************/
/*********************MIXINS***************************/
/******************************************************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin width-fit-content() {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: -ms-fit-content;
  width: fit-content;
}
@mixin height-fit-content() {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: -ms-fit-content;
  height: fit-content;
}

* {
  transition: all 1s;
}

html,
body {
  padding: 0;
  margin: 0;
  // overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: white !important;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.no-drag {
  -webkit-user-drag: none;
  user-drag: none;
}

.row {
  margin: 0;
}

.cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  margin: auto;
  max-width: unset !important;
}

button,
a {
  @extend .text-truncate;
  font-size: calc(0.6em + 0.4vw) !important;
}

/******************************************************/
/*****************FONTS ASSIGNMENT*********************/
/******************************************************/

.ht {
  //headet text
  font-family: "Roboto", sans-serif;
  // font-size: 18px;
  color: #000000;
}

.pt {
  //page title
  font-family: "Roboto Slab", sans-serif;
  // font-size: 30px;
  font-weight: bold;
  color: #4b44c5;
  font-size: calc(0.5em + 1.4vw);
}

.st {
  //section title
  font-family: "Roboto Slab", sans-serif;
  // font-size: 14px;
  font-weight: bold;
  color: #000000;
  font-size: calc(0.5em + 1.4vw);
}

.mb {
  //main body
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  // font-size: 12px;
  color: #a8afb9;
  // letter-spacing: 1.2px;
  font-size: calc(0.3em + 0.7vw);
}

.bt {
  //button text
  font-family: "Roboto", sans-serif;
  // font-size: 12px;
  font-weight: lighter;
  color: #a8afb9;
}

.lt {
  //link text
  font-family: "Roboto", sans-serif;
  // font-size: 12px;
  font-weight: lighter;
  color: #4b44c5;
}

/******************************************************/
/**********************GLOBALS*************************/
/******************************************************/

$blueAdvir: #157cc1;
$gray: #b3b3b3;
$grayLighter: #e7e7e7;

$purpleBlue: #4b44c5;
$blueLight: #5077e1;
$cyan: #37caca;
$green: #3ad07f;

$horizontalGradientOpaque: linear-gradient(
  to right,
  rgba(75, 68, 197, 0.7),
  rgba(55, 202, 202, 0.7)
);

$horizontalGradient: linear-gradient(
  to right,
  rgb(75, 68, 197),
  rgb(55, 202, 202)
);

/******************************************************/
/**********************GENERAL*************************/
/******************************************************/

.white-btn {
  color: $blueAdvir !important;
  background-color: white;
}

.gradient-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: linear-gradient(
    to right,
    rgba(75, 68, 197, 0.5),
    rgba(55, 202, 202, 0.5)
  );
}

.videoBg-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

  .videoBg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
  }
}
@media (min-aspect-ratio: 16/9) {
  .videoBg {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .videoBg {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 767px) {
  .videoBg-container {
    background: url(../assets/imgs/advertiserpage2.jpg) center center / cover
      no-repeat;
  }

  .videoBg {
    display: none;
  }
}

.first-show {
  @extend .cc;
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-size: cover !important;

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: calc(0.3em + 0.7vw);
  }
}

.description-pair-container {
  padding: 8% 0;

  .description-container {
    @extend .cc;
    padding: 2%;
    > div {
      margin-left: 5vw;
      width: 70%;
    }
  }
}

.description-video {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0;
  .videoDescription {
    > div {
      h4 {
        font-size: 1em;
      }
    }
  }
  .video {
    @extend .cc;
    // height: 100%;
    // width: 50%;
    position: relative;

    iframe {
      padding: 5% calc(5% + 1vw);
      border: 0;
      width: 100%;
      max-width: 1000px;
      max-height: 1000px;
    }

    > div {
      width: 100%;
      height: 100%;
    }
    .video-react-controls-enabled {
      padding-top: 37.5vh !important;
      height: 70%;
      width: 70%;
      margin: auto;
    }

    .video-react-big-play-button.video-react-big-play-button-left {
      position: absolute;
      left: 42%;
      top: 37%;
      border: 0;
      background-color: transparent;
      width: 15%;
    }
  }
}

.description-line-overflow-img {
  display: flex;
  padding: 10% 5% 0;
  padding-top: 5%;
  position: relative;

  h3 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      border: 1px dashed white;
      left: 10vw;
      top: calc(-170% - 10.5vw);
      height: calc(200% + 5vw);
      opacity: 0.7;
    }
  }

  h3,
  span {
    color: white;
  }

  .description {
    font-size: 0.8em;
    padding-top: 5%;
  }

  .image {
    @extend .cc;
    padding: 5%;
    // padding-top: 0;
    img {
      width: 70%;
    }
  }

  @media only screen and (max-width: 760px) {
    .description {
      text-align: center;
      a {
        margin: 2% auto !important;
      }
    }

    .image {
      img {
        padding: 5%;
      }
    }
  }

  .video-react-control-bar.video-react-control-bar-auto-hide,
  .video-react-big-play-button.video-react-big-play-button-left {
    display: none;
  }
}

.description-carousel {
  background: $horizontalGradient;
  padding-bottom: 0;
  padding-top: 0;
  .carousel-container {
    padding: 5%;

    .carousel.slide {
      padding: 5%;
      .carousel-inner {
        width: 80%;
        margin: auto;

        .carousel-item {
          img {
            height: 300px;
          }
        }
      }

      .carousel-control-next,
      .carousel-control-prev {
        width: 5%;
      }
    }
  }
}
@media only screen and (max-width: 760px) {
  .description-carousel {
    padding: 3%;
  }
}

// Iamge OverFlow
.img-of {
  position: relative;
  padding: 25% 0 15% 0;
  .img-of-img-container {
    position: absolute;
    top: -25%;
    width: 100%;

    h3 {
      @include width-fit-content();
      margin: auto;
      padding: 1%;
    }

    img {
      display: block;
      margin: auto;
      width: 100%;
      padding: 0 2%;
    }
  }
}

.horizontal-images {
  background: $horizontalGradient;
  padding: 5%;
  text-align: center;
  > h3,
  > h4 {
    @include width-fit-content();
    margin: auto;
    padding: 2%;
  }
  .hor-imgs-container {
    flex-wrap: wrap;
    img {
      width: 7%;
      padding: 5px;
      min-width: 50px;
    }
  }

  > a {
    margin: 4% 0;
  }

  .container.row {
    padding: 5%;

    > div {
      padding: 2%;
    }

    .hor-img-dl {
      a {
        width: 80%;
      }
    }

    input {
      width: 70%;
    }
    .ok {
      margin: 0 1.2%;
    }
  }
}

.statistics {
  padding: 5%;
  background-color: white;

  .borderR {
    border-right: solid $gray 1px;
  }

  h3 {
    font-size: calc(1.4em + 1.2vw);
    font-weight: normal;
  }

  h4 {
    font-size: calc(0.5em + 0.6vw);
    font-weight: bold;
    padding: 5%;
    width: 45%;
  }

  h3,
  h4 {
    color: black !important;
    padding: 2%;
  }
}

.circleText-container {
  width: 100%;
  text-align: center;
  position: relative;

  &:first-child {
    padding: 9%;
  }

  .circleText {
    color: black !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    @include height-fit-content();
    @include width-fit-content();
    > div {
      font-size: calc(1.3em + 0.4vw);
    }
    span {
      color: black !important;
      font-size: calc(0.95em + 0.2vw);
    }
  }
  @media only screen and (max-width: 760px) {
    &:first-child {
      padding: 17% !important;
    }

    .circleText {
      > div {
        font-size: calc(1.7em + 1vw);
      }
      span {
        color: black !important;
        font-size: calc(1.3em + 1.3vw);
      }
    }
  }
}

/******************************************************/
/***********************NAVBAR*************************/
/******************************************************/

nav {
  // position: absolute !important;
  z-index: 1;
  top: 0;
  // height: 15vh;
  width: 100%;
  padding: 1.5rem 2rem !important;
  padding-right: 1% !important;
  color: white;
  #navbar-logo {
    width: 15%;
    min-width: 100px;
    img {
      margin: 0;
      width: 8vw;
      max-width: 200px;
      min-width: 80px;
    }
  }

  #navbarSupportedContent {
    ul {
      li {
        a {
          margin-left: 5.1vw;
          font-size: 1.2vw;
          color: white;
          text-align: center;
        }
      }

      #download-plugin {
        a {
          @extend .white-btn;
          @include border-radius(5px);
        }
      }
    }
  }
}
@media (min-width: 992px) {
  nav {
    background-color: transparent;
  }
}

/******************************************************/
/***********************HOME***************************/
/******************************************************/

#home {
  margin-top: -15vh;
  #how-works {
    // background: $horizontalGradientOpaque,
    //   url(../assets/imgs/advertiserpage2.jpg) top center no-repeat;
    background: $horizontalGradientOpaque;

    span {
      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;
    }
  }

  #firstAd {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/imgs/developerpage1.jpg) top center no-repeat;
    background-size: cover;
  }

  #dailyUsers {
    padding: 7% 0;
    position: relative;
    background-color: white;

    .container {
      min-height: 200px;
      margin: auto;

      #bar-container {
        text-align: center;
        h4 {
          color: $blueAdvir !important;
          font-size: calc(0.6em + 1vw);
          margin-bottom: 3%;
        }

        > div {
          width: 80%;
        }

        #bar {
          border: solid 1px #f2f2f2;
          height: 25px;
          @include border-radius(30px);
          position: relative;

          > div {
            height: 90%;
            width: 90%;
            position: absolute;
            left: 0.5%;
            top: 1.5px;
            @include border-radius(30px);
            &:hover {
              cursor: pointer;
            }
            .rc-slider-rail {
              background-color: transparent;
            }
            .rc-slider-track {
              height: 100%;
              top: 0;
              @include border-radius(10px);
              background-color: #ffad33;
            }
            .rc-slider-handle {
              display: none;
            }
          }

          span {
            color: black !important;
            position: absolute;
            right: 1%;
          }
        }
      }

      #making {
        position: relative;
        background-color: $blueAdvir;
        @include border-radius(5px);
        padding: 8% 4%;
        text-align: center;
        font-size: 0.4em;
        line-height: 0.5em;
        margin: 0;
        width: 100%;

        #money {
          font-size: calc(1.2em + 0.7vw);
        }

        span {
          font-size: calc(0.2em + 0.3vw);
        }

        h3 {
          font-size: calc(1.4em + 0.7vw);
        }

        h6 {
          margin: 0;
          font-size: calc(0.9em + 0.3vw);
        }

        &::before {
          content: "";
          position: absolute;
          left: -15px;
          top: 40%;
          border-right: solid 15px $blueAdvir;
          border-top: solid 15px transparent;
          border-bottom: solid 15px transparent;
          height: 15px;
        }
      }

      @media only screen and (max-width: 760px) {
        #making-container {
          padding: 10%;
        }

        #making {
          &::before {
            top: -30px;
            left: 0;
            right: 0;
            margin: auto;
            width: 15px;
            border-bottom: solid 15px $blueAdvir;
            border-right: solid 15px transparent;
            border-left: solid 15px transparent;
          }
        }
      }

      #btn-container {
        width: 100%;
        padding: 5%;
        a {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          background-color: $blueAdvir;
          color: white !important;
          width: 25vw;
          max-width: 300px;
          min-width: 150px;
          bottom: 10%;
        }
      }
    }
  }

  #steps {
    width: 100%;
    background: $horizontalGradient;
    padding-bottom: 5%;

    .row {
      margin: auto;
    }

    .btn.white-btn {
      width: 40%;
      margin: 2% 0;
    }

    > div {
      &:last-child {
        > div {
          &:last-child {
            padding: 0;
            .circleText-container {
              .circleText {
                color: white !important;
              }
            }
          }
        }
      }
    }
  }

  #introOasis {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/imgs/developerpage2.jpg) top center no-repeat;
    background-size: cover;

    a {
      width: 50%;
    }
  }

  #whyAdvir {
    background: $horizontalGradient;
    padding: 5%;
    padding-bottom: 25%;
    h3 {
      margin: auto;
      @include width-fit-content();
      padding-bottom: 5%;
    }

    .container {
      margin: auto;
      > div {
        img {
          display: block;
          width: 50%;
          margin: auto;
          padding: 5%;
        }

        h3 {
          padding: 5% 0;
        }
      }
    }
    @media only screen and (max-width: 760px) {
      .container {
        > div {
          text-align: center;
          img {
            width: 25%;
          }
        }
      }
    }
  }

  #discover {
    background-color: white;
    .container {
      margin: auto;
      > div {
        padding: 2% 7%;
        h3,
        h4 {
          color: black !important;
        }
      }
    }
    @media only screen and (max-width: 760px) {
      .container {
        > div {
          text-align: center;
        }
      }
    }
  }
}

/******************************************************/
/**********************OASIS***************************/
/******************************************************/

#oasis {
  margin-top: -15vh;

  #metaverse {
    // background: $horizontalGradientOpaque,
    //   url(../assets/imgs/advertiserpage2.jpg) top center no-repeat;
    background: $horizontalGradientOpaque;

    h4 {
      width: 70%;
      margin: auto;
      line-height: 1.6;
    }
  }

  #hyperlinks {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/imgs/oasispage1.jpg) top center no-repeat;
    background-size: cover;
  }

  #forEveryone {
    padding: 7%;

    > .container {
      background-color: white;
      padding: 5%;
    }

    h4 {
      color: $gray !important;
    }
    h3 {
      color: black !important;
    }
  }
}

/******************************************************/
/*********************COMMUNITY************************/
/******************************************************/

#community {
  margin-top: -15vh;

  #fan {
    background: $horizontalGradientOpaque,
      url(../assets/imgs/advertiserpage2.jpg) top center no-repeat;
  }

  #hardToBelieve {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/imgs/advertiserpage1.jpg) top center no-repeat;
    background-size: cover;
  }
}

/******************************************************/
/*******************ADVERTISERS************************/
/******************************************************/

#advertisers {
  margin-top: -15vh;

  #yourBrand {
    // background: $horizontalGradientOpaque,
    //   url(../assets/imgs/advertiserpage2.jpg) top center no-repeat;
    background: $horizontalGradientOpaque;

    h4 {
      width: 70%;
      margin: auto;
      line-height: 1.6;
    }
    span {
      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;

      img {
        width: 8%;
      }
    }
  }

  #hardToBelieve {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/imgs/advertiserpage1.jpg) top center no-repeat;
    background-size: cover;
  }

  // THIS IS FOR THE LAST CAROUSEL
  #displayAds {
    padding-bottom: 20%;
  }

  #reporting {
    background-color: white;
    padding: 35% 0 15% 0;
    .img-of-img-container {
      img {
        width: 70%;
      }
    }

    .container {
      h4 {
        color: $gray !important;
      }
      h3 {
        color: black !important;
        font-size: calc(0.8em + 0.6vw);
      }
      padding: 0 5%;
      margin: auto;
    }
  }

  @media only screen and (max-width: 760px) {
    #reporting {
      .container {
        text-align: center;
        h3 {
          padding: 2%;
        }
      }
    }
  }

  #circles {
    background-color: white;
    padding: 0 10% 8%;

    h3,
    h4 {
      color: black !important;
    }

    > h2 {
      width: 100%;
      text-align: center;
      color: $blueAdvir !important;
    }

    .container.row {
      > div {
        display: flex;
        flex-flow: column;

        > div {
          width: 100%;
          text-align: center;
          position: relative;

          &:first-child {
            padding: 9%;
          }
        }
      }
    }
  }

  #betterFuture {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/imgs/advertiserpage2.jpg) top center no-repeat;
    background-size: cover;
  }
}

/******************************************************/
/*******************ADVERTISERS************************/
/******************************************************/

#download {
  margin-top: -15vh;

  .container {
    background: $horizontalGradientOpaque;
    padding: 5%;
    min-height: 100vh;

    #downloadVid {
      padding-bottom: 5%;
      padding-top: calc(15vh - 5vw);
      .videoDescription {
        padding: 0;
        padding-left: 5%;
        align-items: flex-start;
        > div {
          margin: 0;
          width: 100%;
          padding-top: 5%;
          img {
            width: 60%;
            display: block;
            margin: 2% auto;
            padding: 2%;
          }
          .imgs-container {
            display: flex;
            flex-flow: row;
            > div {
              text-align: center;
              padding-right: 5%;

              a {
                width: 100%;
              }

              h4 {
                text-align: left;
                font-size: calc(0.4em + 0.4vw);
                padding-top: 2%;
              }
            }
          }
        }
      }

      .video {
        > div {
          padding-top: 5%;
        }
        h3 {
          margin-left: 5vw;
        }
      }
    }

    > .cc {
      width: 29%;
      padding-bottom: 5%;

      h3 {
        margin: 0;
      }
    }
  }
  @media only screen and (max-width: 760px) {
    .container {
      #downloadVid {
        h3 {
          margin-bottom: 5vw;
          margin-left: 0 !important;
          text-align: center;
        }
      }
    }
  }
}

/******************************************************/
/*********************FOOTER***************************/
/******************************************************/

#footer {
  background-color: white;
  padding: 7% 3%;

  span {
    color: $gray !important;
  }

  a {
    color: $gray !important;
    padding: 3% 0;
  }

  img {
    width: 8vw;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    min-width: 80px;
  }

  > div {
    display: flex;
    flex-flow: column;

    &:first-child {
      text-align: center;
      span {
        padding-bottom: 5%;
      }
      a {
        width: 70%;
        margin: 0 auto;
        background-color: $blueAdvir;
        color: white !important;
      }
    }

    &:last-child {
      text-align: center;
      text-align: left;

      #email-container {
        display: flex;
        align-content: center;
        input {
          width: 70%;
          margin: 0;
        }
        input[type="submit"] {
          @extend .cc;
          background-color: $blueAdvir;
          color: white !important;
          width: 20%;
          margin: 0 5%;
          padding: 1% 0;
        }
      }

      #sn-buttons {
        display: flex;
        align-content: center;
        padding: 15% 0 0;
        a {
          padding: 0 2%;

          &:hover {
            text-decoration: none;
          }
        }
        i {
          @extend .cc;
          padding: 3%;
          margin: 0 2%;
          border-radius: 100%;
          background-color: black;
          color: white;
          font-size: 1.3em;
          width: 40px;
          height: 40px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 760px) {
    > div {
      text-align: center !important;
      padding: 5% 0;

      #email-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #sn-buttons {
        justify-content: center;
      }
    }
  }
}
